In [5]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple


a='Name'      #string data type
b=[2,4,6,8]   #list data type
c= 6.0        # float
d=(2,3,4,5)   # tuple

In [11]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
var1 = ''    # Data type is string
print('Data type of var1 is: string',type(var1))

# (ii) var2 = ‘[ DS , ML , Python]’
var2 = '[ DS , ML , Python]'    # Data type is string
print('Data type of var2 is: string',type(var2))
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS' , 'ML' , 'Python' ]   # Data type is list
print('Data type of var3 is: list',type(var3))
# (iv) var4 = 1.
var4 = 1   # Data type is int
print('Data type of var4 is:int',type(var4))

Data type of var1 is: string <class 'str'>
Data type of var2 is: string <class 'str'>
Data type of var3 is: list <class 'list'>
Data type of var4 is:int <class 'int'>

In [18]:
# Q3. Explain the use of the following operators using an example:
# (i) /
'''The Operator (/) is used for performing divide operation between terms e.g, (A/B) '''

a=30
b=5
print('/ Operator devides a with b as we put a/b and gives output:',a/b)


# (ii) %

''' The Operator (%) is modulus division used for performing divide operation between terms e.g, (A/B) and get its remainder obtained'''
print('The output after % between a and b is : ',a%b)
# (iii) //
'The Operator (//) is floor division used for perfprming the floor division i.e. // rounds the result down to the nearest whole number'
a=35
b=6
print('The output after // between a and b is : ',a//b)
# (iv) **
'The ** operatior is said to be Exponential Multiplication operator i.e. it can work like multiplication to the power'
'Suppose we want to perform 2 to power 8 we can make use of exponential operator like following'
print(2**8)

/ Operator devides a with b as we put a/b and gives output: 6.0
The output after % between a and b is :  0
The output after // between a and b is :  5
256

In [23]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

l1=[2,4,5.0,'New','OLD',45,6.0,[1,2,3],(4,5,6),'TEN']
for i in l1:
    print('Element in List is:',i,'its data type is:',type(i))

Element in List is: 2 its data type is: <class 'int'>
Element in List is: 4 its data type is: <class 'int'>
Element in List is: 5.0 its data type is: <class 'float'>
Element in List is: New its data type is: <class 'str'>
Element in List is: OLD its data type is: <class 'str'>
Element in List is: 45 its data type is: <class 'int'>
Element in List is: 6.0 its data type is: <class 'float'>
Element in List is: [1, 2, 3] its data type is: <class 'list'>
Element in List is: (4, 5, 6) its data type is: <class 'tuple'>
Element in List is: TEN its data type is: <class 'str'>

In [ ]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.'''


# get the input values of A and B
A = int(input("Enter the first number (dividend): "))
B = int(input("Enter the second number (divisor): "))

# initialize the counter variable to 0
count = 0

# loop while B divides A with no remainder
while A % B == 0:
    # increment the counter
    count += 1
    # divide A by B to get a new value for A
    A = A // B

# check if the counter was incremented at least once
if count > 0:
    print(f"{A} is divisible by {B} {count} times")
else:
    print(f"{A} is not divisible by {B}")

In [27]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

l1=[21, 29, 24,  1, 17, 10, 28,  1,  6, 16, 29,  6, 13, 23, 26, 20,  2,  3,  1, 19, 20, 23,  1,  1,  1]

for i in l1:
    if i %3==0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

21 is divisible by 3
29 is not divisible by 3
24 is divisible by 3
1 is not divisible by 3
17 is not divisible by 3
10 is not divisible by 3
28 is not divisible by 3
1 is not divisible by 3
6 is divisible by 3
16 is not divisible by 3
29 is not divisible by 3
6 is divisible by 3
13 is not divisible by 3
23 is not divisible by 3
26 is not divisible by 3
20 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
1 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
23 is not divisible by 3
1 is not divisible by 3
1 is not divisible by 3
1 is not divisible by 3

In [ ]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.'''

'''Mutable data types in python are those which can be changed, once created but immutable objects are those which cannot be changed, once they are instantiated.
Example of mutable data types are list, dictionary, set, user-defined classes.
whereas examples of Immutable datatypes or objects are int, float, string, bool, tuple.'''